header {
    padding: 1rem 0;
    background-color: #3e0c88;
    text-align: center;
}

header h1 {
    margin: 0 auto 1rem;
}

header img{
    max-height: 12rem;
    max-width: 40rem;
    margin: 0 1rem;
    border-radius: 10px;
}